<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kaipai.ck.mapper.investor.InvestorMapper">

    <!-- 投资人列 -->
	<sql id="investorColumn">
	  a.`id` as id,
	  a.`user_id` as userId,
	  a.`auth_name` as authName,
	  a.`auth_no`  as authNo,
	  a.`job_name` as jobName,
	  a.`company_name` as companyName,
	  a.`company_auth_url` as companyAuthUrl,
	  a.`company_log_url` as companyLogUrl,
	  a.`company_info` as companyInfo,
	  a.`amt_st` as amtSt,
	  a.`amt_ed` as amtEd,
	  a.`auth_type` as authType,
	  a.`assets_url` as assetsUrl,
	  a.`assets_code` as assetsCode,
	  a.`card_url` as cardUrl,
	  a.`investor_info` as investorInfo,
	  a.`auth_reson` as authReson,
	  a.`post_tm` as postTm,
	  a.`auth_tm` as authTm,
	  a.`auth_state` as authState,
	  a.`auth_user_id` as authUserId,
	  a.`auth_user_name` as authUserName,
	  a.`create_tm` as createTm,
	  a.`is_del` as isDel,
	  a.`mobile` as mobile,
	  a.`address` as address,
	  a.`website` as website
	</sql>
    
	<!-- 获取投资人列表 -->
     <select id="getInvestorList" parameterType="map" resultType="com.kaipai.ck.model.investor.UserInvestorAuth">
        
         SELECT <include refid="investorColumn" />,b.user_name as userName
          FROM kp_user_investor_auth_his a left join kp_users b on a.user_id = b.user_id
         WHERE a.is_del = '0'
         <if test="authState != null and authState !=''">
             AND a.auth_state = #{authState}
         </if>
         <if test="authName != null and authName !=''">
             AND a.auth_name like CONCAT('%',#{authName},'%')
         </if>
         <if test="userName != null and userName !=''">
             AND b.user_name like CONCAT('%',#{userName},'%')
         </if>
          <if test="startPostTm != null and startPostTm !=''">
             AND a.post_tm >= #{startPostTm}
         </if>
         <if test="endPostTm != null and endPostTm !=''">
             AND a.post_tm  <![CDATA[<=]]> #{endPostTm}
         </if>
         order by a.post_tm asc
         limit #{pageIndex},#{pageSize}
    </select>
    
     <!-- 根据ID获取一个投资人 -->
     <select id="getInvestor" parameterType="long" resultType="com.kaipai.ck.model.investor.UserInvestorAuth">
          SELECT <include refid="investorColumn" />
          FROM kp_user_investor_auth_his a
         WHERE a.is_del = '0' AND id = #{id}
         
     </select>
    
     <!-- 获取投资人列表总数 -->
     <select id="getInvestorListCount" parameterType="map" resultType="int">
          SELECT count(*)
          FROM kp_user_investor_auth_his a left join kp_users b on a.user_id = b.user_id
         WHERE is_del = '0'
         <if test="authState != null and authState !=''">
             AND a.auth_state = #{authState}
         </if>
         <if test="authName != null and authName !=''">
             AND a.auth_name like CONCAT('%',#{authName},'%')
         </if>
         <if test="userName != null and userName !=''">
             AND b.user_name like CONCAT('%',#{userName},'%')
         </if>
          <if test="startPostTm != null and startPostTm !=''">
             AND a.post_tm >= #{startPostTm}
         </if>
         <if test="endPostTm != null and endPostTm !=''">
             AND a.post_tm  <![CDATA[<=]]> #{endPostTm}
         </if>
     </select>
     
     <!-- 投资人ID 获取详情 -->
     <select id="getInvestorDetail" parameterType="long" resultType="com.kaipai.ck.model.investor.UserInvestorAuth">
         SELECT 
			b.id_name AS idName,b.`id_card` AS idCard,
				<include refid="investorColumn" />
 				FROM kp_user_investor_auth_his a LEFT JOIN kp_user_info b ON a.`user_id` = b.`user_id`
 				WHERE is_del = '0' AND a.id = #{id}
     </select>
     
     <!-- 更新投资人 -->
     <update id="updateInvestor" parameterType="com.kaipai.ck.model.investor.UserInvestorAuth">
         UPDATE kp_user_investor_auth_his
         <set>
             <if test="authState != null and authState !=''">
                 auth_state = #{authState},
             </if>
             <if test="authReson != null and authReson !=''">
                 auth_reson = #{authReson},
             </if>
             <if test="authTm != null and authTm !=''">
                 auth_tm = #{authTm},
             </if>
             <if test="authUserId != null and authUserId !=''">
                 auth_user_id = #{authUserId},
             </if>
             <if test="authUserName != null and authUserName !=''">
                 auth_user_name = #{authUserName},
             </if>
         </set>
         WHERE id = #{id}
     </update>
     
     <update id="updateUser" parameterType="java.lang.String">
         
         UPDATE kp_users
     		set invest_auth_flg = #{investAuthFlg}
     		 WHERE user_id = #{userId}
     </update>
	
</mapper>